* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#card-container {
  width: 90vw;
  max-width: 600px;
  margin: 1em auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.card {
  width: calc(100% - 2em);
  margin: 1em;
  padding: 0.5em;
  background-color: lightgray;
  border: 2px outset black;
  text-align: right;
  border-radius: .5em;
}

.card-text {
  display: block;
  text-align: justify;
}

.card-text.card-text-hidden {
  display: none;
}

.read-more-button {
  border-radius: 2px;
  padding: .5em;
  color: aliceblue;
  background-color: blueviolet;
  border: 2px outset black;
}

.read-more-button:hover {
  cursor: pointer;
}